@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bungee');

/*
html {
    background: url(thing.jpg) no-repeat center center fixed;
    background-size: cover; /* Fill whole page no matter dimension 

} */

body {
    /* background: transparent; */
    background-color: darkred;
    font-family: 'Roboto',sans-serif;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  padding: 1rem;
  color: white;
}

h1 small {
    font-family: 'Bungee', sans-serif;
    text-decoration: underline;
}

.list-container {
  /*background-color: whitesmoke;*/
  opacity: 0.5;
}

#flick-list {
    margin-bottom: 0;
}

.template {
    display: none;
}

.flick.fav {
    background-color: teal;
}

.flick-name {
    margin: 0 0.75rem;
}

.flick .button-group {
    margin-bottom: 0;
}

.flick .button-group .button {
    margin-bottom: 0;
}