@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: darkred;
    font-family: 'Roboto',sans-serif;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  padding: 1rem;
  color: white;
}